html {
    box-sizing: border-box;
    min-height: 100%;
}
*, *:before, *:after {
box-sizing: inherit;
}
body {
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
h2 {
    text-align: center;
}
.contenedor {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 2rem;
}




